@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body{
    font-family:'Poppins',sans-serif;
    background: #5990ed;
    padding-top: 20px;
}

.form-signup{
    margin: 0 auto;
    max-width: 650px;
    background-color: #fff;
    padding: 25px 15px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-control{
    height: 60px;
    background-color: #e4e4e4;
}

.primaryColor{
    color: #5990ed;  
  }

#error{
    color: red;
    text-align: left;
    line-height: 18px;
    font-size: 14px;
    padding-left: 3px;
    padding-top: 5px;
}